@import 'variables';
@import 'mixins';

body, html {
  height: 100%;
  width: 100%;
  display: flex;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  .toolsbar {
    display: flex;
    flex-direction: column;
    width: @toolbar-width;
    background-color: @evernote-toolbar-color;
    border-right: 0.21rem solid @evernote-toolbar-border-color;
    .evernote-logo {
      margin: auto;
      border-bottom: 0.2rem solid @evernote-toolbar-border-color;
      img {
        height: 3.2rem;
        margin-bottom: 1rem;
        align-self: flex-start;
      }
    }
    .user-photo {
      margin: auto;
      padding: 1rem;
      padding-top: 3rem;
      border-top: 0.2rem solid @evernote-toolbar-border-color;
      i {
        align-self: flex-end;
        font-size: 1.6rem;
        color: @evernote-tool-icons;
      }
    }
    .tool {
      margin: auto;
      margin-top: 0.0rem;
      .active {
        color: @evernote-toolbar-icon-active-color;
        &:hover {
          color: @evernote-toolbar-icon-active-color;
        }
      }
      i {
        font-size: 1.6rem;
        padding: 0rem 1rem 0rem 1rem;
        color: @evernote-tool-icons;
        &:hover {
          color: @evernote-toolbar-icon-hover-color;
        }
      }

    }

    .tool:nth-child(4) {
      padding-bottom: 1rem;
      border-bottom: 0.2rem solid @evernote-toolbar-border-color;
    }
    .tool:nth-child(5) {
      padding-top: 0.3rem;
    }
  }
  .expbar1 {
    display: flex;
    flex-direction: column;
    width: @expbar1-width;
    background-color: @expbar1-color;
    .heading-content {
      display: flex;
      flex-direction: column;
      height: 7.3vw;
      width: 100%;
      border-bottom: 0.1rem solid @evernote-toolbar-border-color;
      .heading {
        padding: 1rem;
        padding-bottom: 0;
        span {
          letter-spacing: 0.1rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: @expbar1-heading-color;
        }

      }
      .notes-options-box {
        display: flex;
        padding: 1rem;
        padding-top: 0.5rem;
        justify-content: space-between;
        .notes-count {
          span {
            color: @expbar1-heading-color;
            font-size: 0.7rem;
            letter-spacing: 0.06rem;
          }
        }
        .notes-options {

          a {
            color: @expbar1-heading-color;
            font-size: 0.7rem;
            letter-spacing: 0.06rem;
          }

          .dropdown-button {

            &:after {
              font-family: FontAwesome, sans-serif;
              content: "\f107";
              font-size: 0.8rem;
              padding-left: 0.2rem;
            }
          }

          ul {
            .divider {
              min-height: 1px;
            }
            li {

              &:hover {
                background-color: @evernote-color;
                [type="checkbox"]:checked + label:before {
                  border-right: 2px solid #ffffff;
                  border-bottom: 2px solid #ffffff;
                }
                [type="checkbox"].filled-in:checked+label:after{
                  border: 2px solid #FFFFFF;
                  background-color: @evernote-color;
                }
                label {
                  color: white;
                }
                span {
                  background-color: white;
                }

              }
              min-height: 22px;
              span {
                font-size: 0.8rem;
                letter-spacing: 0.3rem;
                color: @expbar1-heading-color;
                padding: 11px 15px;
              }
              p {
                padding-left: 1.1rem;
                font-size: 1rem;
                padding-right: 1.1rem;
                label {
                  font-size: 0.8rem;
                  font-weight: bolder;
                  letter-spacing: 0.01rem;
                }
              }
            }

          }
        }
      }

    }

    .notes-short-box {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 100%;
      .active{
        border:0.2rem solid @active-note-border-color;
      }
      .note-box {
        height: 10.3vw;
        width: 100%;
        padding: 1.3rem 1rem;
        transition: background-color .5s;

        &:hover {
          background-color: @evernote-color;
          color: white;
          .note {
            .heading-box {
              .heading {
                width: 50%;
                div{
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }

              }
              .heading-toolbox {
                display: flex;
                flex-direction: row;
                //width: 50%;
                i{
                  margin-right: 0.33rem;
                }
                .tool{
                  font-size: 1.3rem;
                }
              }
            }
            .time-box{
              .time-box-content{
                color:white;
              }
            }
          }

        }
        .note {
          height: 100%;
          border-bottom: 1px solid @evernote-toolbar-border-color;
          .heading-box {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .heading {
              width: 100%;
              div{
                font-size: 1rem;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow: hidden;
              }
            }
            .heading-toolbox {
              display: none;
            }
          }
          .time-box{
            display: flex;
            flex-direction: row;
            width: 100%;
            .time-box-content{
              font-size: 0.7rem;
              color: @note-last-edited-color;
              letter-spacing: .1rem;
            }

          }
          .content-box{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 0.3rem;
            .content-box-text{
              font-size: 0.88rem;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 100%;
            }
          }
        }
      }
    }

  }
  .expbar2 {
    display: flex;
    flex-direction: column;
    width: @expbar2-width;
    background-color: seagreen;
  }
}