
@evernote-color: #2DBE60;
@evernote-color-tint: #2fa358;
@evernote-elephant-color: #666666;
@linux-color: #c71585;

@evernote-tool-icons:@evernote-color;
@evernote-toolbar-color: #f8f8f8;
@evernote-toolbar-border-color: #ececec;
@evernote-toolbar-icon-active-color: @evernote-elephant-color;
@evernote-toolbar-icon-hover-color: #026a26;

@expbar1-color: #ffffff;
@expbar1-heading-color: #8b8b8b;


@toolbar-width:5%;
@expbar1-width:25%;
@expbar2-width:100%;